.card-main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid green;
}
.iconspan{
    padding-left: 4vw;
}
.tempdisplay{
    display: flex;
    flex-direction: row;
    gap: 5vw;
}
.h10d{
    background-image: url('http://openweathermap.org/img/wn/10d@2x.png');
    background-size: 100px;
    display: block;
    height: 10vh;
    width: 10vw;
    background-repeat: no-repeat;
}
.h04d{
    background-image: url("http://openweathermap.org/img/wn/04d@2x.png");
    display: block;
    height: 10vh;
    width: 10vw;
    background-repeat: no-repeat;
}
.h13d{
    background-image: url("http://openweathermap.org/img/wn/13d@2x.png");
    display: block;
    height: 10vh;
    width: 10vw;
    background-repeat: no-repeat;
}
